## `Mean Age of Survivors`

In [1]:
import pandas as pd
import numpy as np
dt = pd.read_csv('titanic.csv')
df= dt.copy()
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,G,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C,C,1
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,G,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C,S,1
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,G,S,0

In [10]:
import pandas as pd
import numpy as np
dt = pd.read_csv('titanic.csv')
df= dt.copy()
survived = df[df.Survived == 0]
print(round(survived.Age.mean(), 2))

30.63

In [18]:
import statistics
import pandas as pd
df = pd.read_csv('titanic.csv')
df = df[(df['Survived'] == 0)]
#df.Age.fillna(0,inplace = True)
#mu1 = statistics.mean(df['Age'])
mu1 = df['Age'].mean()
print(round(mu1,2))

30.63

## `Percentage of Survivors`

In [46]:
import pandas as pd
import numpy as np
dt = pd.read_csv('titanic.csv')
df= dt.copy()
t = df.Survived.value_counts()
surv = t.values[1]

survived = df[df.Survived == 1]
male = survived[survived.Sex == 1]
female = survived[survived.Sex == 0]

print(round((survived.shape[0]/df.shape[0])*100, 2))
print(round((male.shape[0]/survived.shape[0])*100, 2))
print(round((female.shape[0]/survived.shape[0])*100, 2))

# print(round((surv/t.values.sum())* 100, 2))
# print(round((male/s.values.sum())* 100, 2))
# print(round((female/s.values.sum())* 100, 2))

38.38
31.87
68.13

## `Highest Correlation`

In [41]:
import pandas as pd
import numpy as np
dt = pd.read_csv('titanic.csv')
df= dt.copy()

corr = 0
column = ''
for i in df.columns:
    if df[i].dtype != 'object' and i != 'Survived': 
        x = df['Survived'].corr(df[i])
        x = abs(x)
        if x > corr:
            corr = x
            column = i
print(column)
print(corr)

Sex
0.543351380657755

In [42]:
x = abs(df.corr()['Survived']).sort_values(ascending = False)

Survived       1.000000
Sex            0.543351
Pclass         0.338481
Fare           0.257307
Parch          0.081629
Age            0.077221
SibSp          0.035322
PassengerId    0.005007
Name: Survived, dtype: float64

## `Calculate IQR`

In [96]:
    import pandas as pd
    import numpy as np
    dt = pd.read_csv('titanic.csv')
    df= dt.copy()
    #df = df[df['Age'].notna()]


    q1 = np.percentile(df['Age']._get_numeric_data().dropna(), 25, interpolation= 'midpoint')
    q3 = np.percentile(df['Age']._get_numeric_data().dropna(), 75, interpolation= 'midpoint')

    iqr = q3 - q1
    print(round(iqr, 2))

17.75

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
titanic_data = pd.read_csv('titanic.csv')
survivors = titanic_data[titanic_data["Survived"] == 1]
notsurvived = titanic_data[titanic_data["Survived"] == 0]

print(round(np.mean(notsurvived.Age),2))

30.63