In [76]:
import sqlite3
import pandas as pd
import numpy as np

db = sqlite3.connect('IMDB.sqlite')

imdb = pd.read_sql_query('select * from IMDB', db)
earning = pd.read_sql_query('select * from earning', db)
genre = pd.read_sql_query('select * from genre', db)

df = earning.copy()
df['Total Earning'] = df['Domestic'] + df['Worldwide']

df1 = pd.merge(df, imdb, on = 'Movie_id', how = 'inner')
df2 = pd.merge(df1, genre, on = 'Movie_id', how = 'inner')

a = df2['Title'].str[-5:-1:]

b = a.value_counts().index

arr= []
for i in b:
    c = df2.loc[a == str(i)]
    d = c['Total Earning'].max()
    e =df2.loc[df2['Total Earning']  == d]
    q = e['Title']
    f = q.value_counts().index
    for i in f:
        arr.append(i)
        break

        
b = np.array(b, dtype = float)
b = np.array(b, dtype = int)

d ={}
for a, b in zip(b, arr):
    d[a] = b

dic = sorted(d.keys())
for i in dic:
    print(i, d[i])

2010 Toy Story 3 (2010)
2011 Rise of the Planet of the Apes (2011)
2012 The Avengers (2012)
2013 The Hunger Games: Catching Fire (2013)
2014 Guardians of the Galaxy (2014)
2015 Star Wars: The Force Awakens (2015)
2016 Rogue One (2016)

In [4]:
import sqlite3
import pandas as pd
import numpy as np

db = sqlite3.connect('IMDB.sqlite')

imdb = pd.read_sql_query('select * from IMDB', db)
earning = pd.read_sql_query('select * from earning', db)
genre = pd.read_sql_query('select * from genre', db)

df = earning.copy()
df['Total Earning'] = df['Domestic'] + df['Worldwide']

df1 = pd.merge(df, imdb, on = 'Movie_id', how = 'inner')
df2 = pd.merge(df1, genre, on = 'Movie_id', how = 'inner')

a = df2['Title'].str[-5:-1:]

b = a.value_counts().index

arr= []
for i in b:
    c = df2.loc[a == str(i)]
    d = c['Total Earning'].max()
    e =df2.loc[df2['Total Earning']  == d]
    q = e['Title']
    f = q.value_counts().index
    for i in f:
        arr.append(i)
        break

b = np.array(b, dtype = float)
b = np.array(b, dtype = int)

d ={}
for a, b in zip(b, arr):
    d[a] = b

dic = sorted(d.keys())
for i in dic:
    print(i, d[i])

2010 Toy Story 3 (2010)
2011 Rise of the Planet of the Apes (2011)
2012 The Avengers (2012)
2013 The Hunger Games: Catching Fire (2013)
2014 Guardians of the Galaxy (2014)
2015 Star Wars: The Force Awakens (2015)
2016 Rogue One (2016)