In [1]:
import sqlite3
import pandas as pd
import numpy as np

db = sqlite3.connect('IMDB.sqlite')

In [26]:
data = pd.read_sql_query('Select * from genre', db)
df = data.copy()
count = df['genre'].value_counts()

genre = count.index
movies = count.values

for i in range(len(movies)):
    if genre[i] == '':
        continue
    print(genre[i], movies[i])

Drama 77
Adventure 43
Action 33
Comedy 31
Biography 21
Sci-Fi 18
Thriller 14
Romance 13
Animation 13
Crime 11
Mystery 7
Fantasy 7
History 6
Sport 3
Music 3
Family 3
Horror 2
War 2
Western 2
Musical 1