In [1]:
import sqlite3

db = sqlite3.connect('School.sqlite')
db

In [2]:
cur = db.cursor()

In [3]:
cur.execute("Select * from Student")

## After executing the above statement, we can use the above cur object as an iterator to fetch the row.

In [4]:
for row in cur:
    print(row)

(101, 'Aman', 30)
(102, 'Amit', 20)
(103, 'Mohit', 32)
(104, 'Amit kumar', 30)
(105, 'Nidhi', 30)
(106, 'Manisha', 30)
(107, 'Ankush', 30)

In [5]:
cur.execute("Select * from Student")
print(cur.fetchone())

## As the data is fetched in cur object, we can use fetchone() to fetch only one object using cur.
## It will fetch only first row.

(101, 'Aman', 30)

In [7]:
cur.execute("Select * from Student")

print(cur.fetchmany(3))

## As we can see, fetchmany takes argument and it will print result in the form of list containing tuples where
## tuple is one row.
## fetchmany() will take argument n and print n rows, if we dont pass argument, it will print only one row and 
## that is first row

[(101, 'Aman', 30), (102, 'Amit', 20), (103, 'Mohit', 32)]

In [9]:
cur.execute("Select * from Student")
print(cur.fetchall())

## fetchall() will print all the rows and it will print result in the form of list containing tuples where
## tuple is one row.

[(101, 'Aman', 30), (102, 'Amit', 20), (103, 'Mohit', 32), (104, 'Amit kumar', 30), (105, 'Nidhi', 30), (106, 'Manisha', 30), (107, 'Ankush', 30)]

In [11]:
## We can also apply  filters

cur.execute("Select * from Student where RollNumber > 103")
ans = cur.fetchall()
print(ans)

cur.execute("Select * from Student where Name like 'A%'")
ans = cur.fetchall()
print(ans)

[(104, 'Amit kumar', 30), (105, 'Nidhi', 30), (106, 'Manisha', 30), (107, 'Ankush', 30)]
[(101, 'Aman', 30), (102, 'Amit', 20), (104, 'Amit kumar', 30), (107, 'Ankush', 30)]