In [1]:
import sqlite3

db = sqlite3.connect('School.sqlite')
db

In [2]:
cur = db.cursor()

In [12]:
cur.execute("insert into Student values (103, 'Mohit', 20)")
db.commit()

OperationalError: database is locked

In [3]:
rollNumber = 104
name = 'Amit kumar'
age = 22
cur.execute("insert into Student values (?, ?, ?)", (rollNumber, name, age))

db.commit()
## To pass parameters in query, we use '?' which is a placeholder where we pass a particular variable in place of ?.
## Above is the example of how we use placeholder.
## This method is used to insert only one row in the table.

In [4]:
## To add more than one row at a time, we use executemany()
## To add using this method, we pass the value in the form of list where list contains tuples where each tuple 
## represents one row.

values = [(105, 'Nidhi', 20), (106, 'Manisha', 21), (107, 'Ankush', 22)]

cur.executemany('insert into Student values(?, ?, ?)', values)

## The above is the procedure to use executemany().

In [5]:
db.commit()

In [6]:
## Lets say now we want to update age of all the students as 30

cur.execute('update Student set Age = 30')
db.commit()

In [8]:
## More eg
cur.execute('update Student set Age = 20 where RollNumber = 102')
db.commit()

newAge = 32
cur.execute('update Student set Age = ? where RollNumber = 103', (newAge, ))  
db.commit()

## Now above query, cur.execute('update Student set Age = ? where RollNumber = 103', newAge) if written like this will give 
## error.
## cur.execute('update Student set Age = ? where RollNumber = 103', (newAge)) If written like this will also give error 
## because we have to add that placeholder in the tuple, so to make the above query in tuple, we need to add comma after it 
## like the following query. 
## cur.execute('update Student set Age = ? where RollNumber = 103', (newAge, )).
## One thing to notice is that we need to pass the value in tuple.
## If there is only one value, we need to pass the comma explicitly.

In [ ]:
id =