In [1]:
import sqlite3

db = sqlite3.connect('Employees.sqlite')

In [2]:
cur = db.cursor()

In [3]:

employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [6]:
for i in range(len(name)):
    db.execute('insert into Employee_Detail values (?, ?, ?, ?, ?)', (employee_id[i], name[i], age[i], department[i], salary[i]))
    db.commit()