## List

Lists are used to store multiple items in a single variable.  
  
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage. 
  
Lists are MUTABLE which means we can change data into original list.  
  
List can store any type of data.

In [2]:
a = [1, 2, 3]
type(a)

list

In [3]:
a = list([1, 2 ,3])

In [4]:
a

[1, 2, 3]

In [6]:
a[2]  ## Accessing is as same as strings.

3

In [7]:
a[2] = 40   ## update data in list

In [8]:
a

[1, 2, 40]

In [9]:
a = [True, "abc", 12]
a

[True, 'abc', 12]

In [10]:
a[0] = 12
a

[12, 'abc', 12]

In [11]:
## List can also have a list inside it.
a = [[1, 2, 3], 12, 122, "ab"]
a

[[1, 2, 3], 12, 122, 'ab']

In [13]:
## Taking input for list
b = [0 for i in range(10)]  ## for every i value(increment), it will add 0 in list.
b

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [16]:
b = [i for i in range(10)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
b = [i*i for i in range(10)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]