In [3]:
import pandas as pd

iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris 

##df = iris    ## If we make a copy, internal data of the frame is shared by both variable,
               ## so, changes made in one variable will reflect in other variable or the main 
               ## dataframe.
        
df = iris.copy()  ## So we use copy() function.

In [16]:
df.head(3)   ## will give few of first entries of the dataframe, or we can see n entries by
             ## passing n as argument. As we can see we can see first 3 rows, by default, it
             ## will give 5 entries
    

             ## Leftmost part is the index of the dataframe.And is given by default, it is
            ## not in the dataframe

    sl   sw   pl   pw  Flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [9]:
print(df.shape)    ## It will show you the shape of the dataframe, in this case,
                   ## it has 149 rows, 5 columns.Actually we had 150, but first row is 
                    ## used as column.

(149, 5)

In [14]:
df.columns     ## will give column headers name

df.columns = ['sl','sw','pl','pw', 'Flower_type']    ## this will change the column name.

In [15]:
print(df.dtypes)    ## It will give you columnwise datatypes in the frame.
                    ## First column here is the column names in dataframe and 
                    ## second column is the datatypes of the corrosponding column.

sl             float64
sw             float64
pl             float64
pw             float64
Flower_type     object
dtype: object

In [18]:
df.describe()    ## In here,first row shows count which shows how many data are good and are numbers
                 ## and not NaN. NaN means some rows has NaN value.If NaN exists, this count will
                 ## differ from total count.Count actually shows VALID VALUES.

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [20]:
df.sl   ## To access a particular column, syntax =  dataframename.columnname  OR 
        ##dataframename["columnname"]
df["sl"]

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [23]:
df.isnull()   ## It will return a boolean table where it gives True if null value exists 
              ## else it gives False.

        sl     sw     pl     pw  Flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [25]:
df.isnull().sum()   ## It will actually gives count of null values

sl             0
sw             0
pl             0
pw             0
Flower_type    0
dtype: int64

In [28]:
df.iloc[1:4, 2:4]        ## To access the data from in between using slicing.

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2