In [47]:
import numpy as np
import pandas as pd

terror =pd.read_csv("terrorismData.csv")
df = terror.copy()

killed = df['Killed'].max()
killedindex = df[df["Killed"] == killed]  ## by adding  'index.values' at the end
                                          ## will give index of the particular value 
    
country = killedindex["Country"].to_string(index=False)   ## This is the way to print the value from
                                                          ## dataframe without label or index value.
    
killed = killedindex['Killed'].to_string(index = False)
group = killedindex['Group'].to_string(index = False)

kill = float(killed)
kills = int(kill)
print(kills, country , group)

1570  Iraq  Islamic State of Iraq and the Levant (ISIL)

In [1]:
import numpy as np
import pandas as pd

terror =pd.read_csv("terrorismData.csv")
df = terror.copy()

killed = df['Killed'].max()
killed

1570.0

In [2]:
killedindex = df[df["Killed"] == killed]  
killedindex

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
133518,2014,6,12,Iraq,Saladin,Middle East & North Africa,Tikrit,34.621521,43.668377,Hostage Taking (Kidnapping),1570.0,NaN,Soldiers,06/12/2014: Assailants abducted approximately ...,Islamic State of Iraq and the Levant (ISIL),Military,Firearms

In [3]:
country = killedindex["Country"].to_string(index=False)
country

' Iraq'

In [4]:
killed = killedindex['Killed'].to_string(index = False)
group = killedindex['Group'].to_string(index = False)
killed

' 1570.0'

In [5]:
group

' Islamic State of Iraq and the Levant (ISIL)'

In [6]:
killed = killedindex['Killed']
killed

133518    1570.0
Name: Killed, dtype: float64