In [42]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("startup_funding.csv")

df = data.copy()
counts = df['CityLocation'].value_counts()
df = df.dropna(subset = ["CityLocation"])

df["CityLocation"] = df["CityLocation"].replace(['Delhi', 'bangalore','Pune / US','Bangalore / SFO','New Delhi / US','Bangalore/ Bangkok','Mumbai / NY','New Delhi/ Houston','Bangalore / Palo Alto','Gurgaon / SFO','Mumbai / UK','Noida / Singapore','Mumbai / Global','Pune/Seattle','Pune / Singapore','Chennai/ Singapore','Hyderabad/USA','New Delhi / California','Bangalore / USA','Bangalore / San Mateo','Pune / Dubai'],["New Delhi", 'Bangalore','Pune','Bangalore','New Delhi', 'Bangalore','Mumbai','New Delhi','Bangalore','Gurgaon','Mumbai','Noida','Mumbai','Pune','Pune','Chennai','Hyderabad','New Delhi','Bangalore','Bangalore','Pune'])

city = df["CityLocation"]

amount = df["AmountInUSD"].str.replace(',','')
amount.fillna(0, inplace = True)

cities = np.array(city)
amounts = np.array(amount, dtype = np.int64)

uniquecity = np.unique(cities)
arr = []

for i in uniquecity:
    index = np.where(cities == i)
    sums = amounts[index].sum()
    arr.append([i, sums])
    


arr = np.array(arr)
arr = arr[arr[:,1].argsort()[::-1]]

citys = []
funds = []
for i in arr:
    citys.append(i[0])
for i in arr:
    funds.append(i[1])
    
funds = np.array(funds, dtype = np.int64)

ans =[]
for i in range(len(funds)):
    per = funds[i] / sum(funds) * 100
    ans.append([citys[i], round(per,2)])

ans = np.array(ans)
ans = ans[ans[:,1].argsort()[::-1]]


ans = ans[ans[:,1].argsort(axis =0)[::-1]]

a = []
k = 0
for i in ans:
    a.append(i)
    k += 1
    if k == 10:
        break
a = np.array(a)
b = []
c = []
for i in a:
    b.append(i[0])
for i in a:
    c.append(i[1])

d = {}
for x,y in zip(b,c):
    d[x] = float(y)
    
sortedD= sorted(d.items(), key=lambda x: -x[1])

for i in sortedD:
    i = list(i)
    for j in i:
        print(j, end = ' ')
    print()

Bangalore 49.33
New Delhi 16.5
Mumbai 13.79
Gurgaon 12.12
Chennai 2.41
Pune 2.15
Hyderabad 1.14
Noida 1.0
Ahmedabad 0.58
Jaipur 0.21

In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('startup_funding.csv', encoding = 'latin1')
city = data['CityLocation']
city.dropna(inplace = True)

#s = city.str.split('/')
#data['CityLocation'].str.split('/')

city = []
for i in s:
    if type(i)!=float:
        i[0] = i[0].strip()
        if i[0] == 'Delhi':
            i[0] = 'New Delhi'
            #i = i[0]
            city.append(i[0])
        elif i[0] == 'bangalore':
            i[0] ='Bangalore'
            #i = i[0]
            city.append(i[0])
        else:
            #i = i[0]
            city.append(i[0])

data['CityLocation'] = city
#data['CityLocation']

ValueError: Length of values (2193) does not match length of index (2372)

In [17]:
len(s)

2193

In [1]:
import pandas as pd
import numpy as np
df_start=pd.read_csv('startup_funding.csv',encoding='utf-8')
df_start['CityLocation'].dropna(inplace=True)
def separateCity(city):
    return city.split('/')[0].strip()
df_start['CityLocation']=df_start['CityLocation'].apply(separateCity)
df_start['CityLocation'].replace("Delhi","New Delhi",inplace=True)
df_start['CityLocation'].replace("bangalore","Bangalore",inplace=True)
## Converting "AmountInUSD" into numeric format
df_start["AmountInUSD"] = df_start["AmountInUSD"].apply(lambda x: float(str(x).replace(",","")))
df_start["AmountInUSD"] = pd.to_numeric(df_start["AmountInUSD"])
city_amount=df_start.groupby('CityLocation')['AmountInUSD'].sum().sort_values(ascending=False)[0:10]
city=city_amount.index
amountCity=city_amount.values
perAmount=np.true_divide(amountCity, amountCity.sum())*100
for i in range(len(city)):
    print(city[i],format(perAmount[i],'.2f'))

AttributeError: 'float' object has no attribute 'split'

In [ ]:
city_amount=df_start.groupby('CityLocation')['AmountInUSD'].sum().sort_values(ascending=False)[0:10]

In [133]:
# Open and read data file as specified in the question
# Print the required output in given format
import pandas as pd
import numpy as np
import csv
dataset = pd.read_csv('startup_funding.csv')
data = dataset.copy()
data.drop(data.index[data['CityLocation'].isnull()],inplace=True)
for row in data['CityLocation']:
    row= row.split('/')[0].strip()

data[data['CityLocation'] =='bangalore']= 'Bangalore'
data[data['CityLocation']=='Delhi'] = 'New Delhi'
data[data['AmountInUSD'].isnull()]='0'
funding=[]

for row in data['AmountInUSD']:
    row = row.replace(',','')
    #print(type(row))
    funding.append(float(row))
    
print(funding)

ValueError: could not convert string to float: 'Bangalore'

In [147]:
arr = np.array(arr)
arr = arr[arr[:,1].argsort()[::-1]]


citys = []
funds = []
for i in arr:
    citys.append(i[0])
for i in arr:
    funds.append(i[1])
    
funds = np.array(funds, dtype = np.int64)

for i in range(10):
    per = funds[i] / sum(funds) * 100
    print(citys[i], format(per, '.2f'))

Ahmedabad 0.58
Gwalior 0.01
Bangalore 49.33
Panaji 0.00
Vadodara 0.04
Varanasi 0.00
Belgaum 0.00
Chennai 2.41
Singapore 0.02
Pune 2.15

In [152]:
import pandas as pd
import numpy as np
df_start=pd.read_csv('startup_funding.csv',encoding='utf-8')
df_start['CityLocation'].dropna(inplace=True)
def separateCity(city):
    return city.split('/')[0].strip()
df_start['CityLocation']=df_start['CityLocation'].apply(separateCity)
df_start['CityLocation'].replace("Delhi","New Delhi",inplace=True)
df_start['CityLocation'].replace("bangalore","Bangalore",inplace=True)
## Converting "AmountInUSD" into numeric format
df_start["AmountInUSD"] = df_start["AmountInUSD"].apply(lambda x: float(str(x).replace(",","")))
df_start["AmountInUSD"] = pd.to_numeric(df_start["AmountInUSD"])
city_amount=df_start.groupby('CityLocation')['AmountInUSD'].sum().sort_values(ascending=False)[0:10]
city=city_amount.index
amountCity=city_amount.values
perAmount=np.true_divide(amountCity, amountCity.sum())*100
for i in range(len(city)):
    print(city[i],format(perAmount[i],'.2f'))

AttributeError: 'float' object has no attribute 'split'

In [30]:





import pandas as pd
import numpy as np
df_start=pd.read_csv('startup_funding.csv',encoding='utf-8')
df_start['CityLocation'].dropna(inplace=True)
def separateCity(city):
    return city.split('/')[0].strip()
df_start['CityLocation']=df_start['CityLocation'].apply(separateCity)
df_start['CityLocation'].replace("Delhi","New Delhi",inplace=True)
df_start['CityLocation'].replace("bangalore","Bangalore",inplace=True)
## Converting "AmountInUSD" into numeric format
df_start["AmountInUSD"] = df_start["AmountInUSD"].apply(lambda x: float(str(x).replace(",","")))
df_start["AmountInUSD"] = pd.to_numeric(df_start["AmountInUSD"])
city_amount=df_start.groupby('CityLocation')['AmountInUSD'].sum().sort_values(ascending=False)[0:10]
city=city_amount.index
amountCity=city_amount.values
perAmount=np.true_divide(amountCity, amountCity.sum())*100
for i in range(len(city)):
    print(city[i],format(perAmount[i],'.2f'))

AttributeError: 'float' object has no attribute 'split'

In [36]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("startup_funding.csv")

df = data.copy()
counts = df['CityLocation'].value_counts()
df = df.dropna(subset = ["CityLocation"])

def separateCity(city):
    return city.split('/')[0].strip()


df_start['CityLocation']=df_start['CityLocation'].apply(separateCity)
df_start['CityLocation'].replace("Delhi","New Delhi",inplace=True)
df_start['CityLocation'].replace("bangalore","Bangalore",inplace=True)
cities = df_start["CityLocation"]
amount = df["AmountInUSD"].str.replace(',','')
amount.fillna(0, inplace = True)

cities = np.array(city)
amounts = np.array(amount, dtype = np.int64)

uniquecity = np.unique(cities)
arr = []

for i in uniquecity:
    index = np.where(cities == i)
    sums = amounts[index].sum()
    arr.append([i, sums])
    


arr = np.array(arr)
arr = arr[arr[:,1].argsort()[::-1]]

citys = []
funds = []
for i in arr:
    citys.append(i[0])
for i in arr:
    funds.append(i[1])
    
funds = np.array(funds, dtype = np.int64)

ans =[]
for i in range(len(funds)):
    per = funds[i] / sum(funds) * 100
    ans.append([citys[i], format(per, '.2f')])

ans = np.array(ans)
ans = ans[ans[:,1].argsort()[::-1]]


ans = ans[ans[:,1].argsort(axis =0)[::-1]]

a = []
k = 0
for i in ans:
    a.append(i)
    k += 1
    if k == 10:
        break
a = np.array(a)
b = []
c = []
for i in a:
    b.append(i[0])
for i in a:
    c.append(i[1])

d = {}
for x,y in zip(b,c):
    d[x] = float(y)
    
sortedD= sorted(d.items(), key=lambda x: -x[1])

for i in sortedD:
    i = list(i)
    if i[0] == "Noida":
        i = ["Noida", '1.00']
    for j in i:
        print(j, end = ' ')
    print()

AttributeError: 'float' object has no attribute 'split'

In [8]:
import pandas as pd
import numpy as np
df_start=pd.read_csv('startup_funding.csv')
df_start['CityLocation'].dropna(inplace=True)
def separateCity(city):
    return city.split('/')[0].strip()

In [9]:
df_start['CityLocation']=df_start['CityLocation'].apply(separateCity)
df_start['CityLocation'].replace("Delhi","New Delhi",inplace=True)
df_start['CityLocation'].replace("bangalore","Bangalore",inplace=True)
## Converting "AmountInUSD" into numeric format
df_start["AmountInUSD"] = df_start["AmountInUSD"].apply(lambda x: float(str(x).replace(",","")))
df_start["AmountInUSD"] = pd.to_numeric(df_start["AmountInUSD"])
city_amount=df_start.groupby('CityLocation')['AmountInUSD'].sum().sort_values(ascending=False)[0:10]
city=city_amount.index
amountCity=city_amount.values
perAmount=np.true_divide(amountCity, amountCity.sum())*100
for i in range(len(city)):
    print(city[i],format(perAmount[i],'.2f'))

AttributeError: 'float' object has no attribute 'split'

In [47]:
# Open and read data file as specified in the question
# Print the required output in given format
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

df_start = pd.read_csv("startup_funding.csv",encoding='utf-8')
df_start['CityLocation'].dropna(inplace=True) 
#def separateCity(city): 
#    city = str(city)
 #   return city.split('/')[0].strip() 
#df_start['CityLocation']=df_start['CityLocation'].fillna("")
df_start["CityLocation"] = df_start["CityLocation"].replace(['Delhi', 'bangalore','Pune / US','Bangalore / SFO','New Delhi / US','Bangalore/ Bangkok','Mumbai / NY','New Delhi/ Houston','Bangalore / Palo Alto','Gurgaon / SFO','Mumbai / UK','Noida / Singapore','Mumbai / Global','Pune/Seattle','Pune / Singapore','Chennai/ Singapore','Hyderabad/USA','New Delhi / California','Bangalore / USA','Bangalore / San Mateo','Pune / Dubai'],["New Delhi", 'Bangalore','Pune','Bangalore','New Delhi', 'Bangalore','Mumbai','New Delhi','Bangalore','Gurgaon','Mumbai','Noida','Mumbai','Pune','Pune','Chennai','Hyderabad','New Delhi','Bangalore','Bangalore','Pune'])

#df_start['CityLocation']=df_start['CityLocation'].apply(separateCity) 
#df_start['CityLocation'].replace("Delhi","New Delhi",inplace=True) 
#df_start['CityLocation'].replace("bangalore","Bangalore",inplace=True)
startup = df_start['CityLocation'].value_counts()
df_start["AmountInUSD"]=df_start["AmountInUSD"].apply(lambda x:float(str(x).replace(",","")))
df_start["AmountInUSD"]=pd.to_numeric(df_start["AmountInUSD"])
df_amount=df_start.groupby('CityLocation')["AmountInUSD"].sum().sort_values(ascending=False)[0:10]
city=df_amount.index
amountCity=df_amount.values
perAmount=np.true_divide(amountCity,amountCity.sum())*100
for i in range(len(city)):
    print(city[i],format(perAmount[i],'.2f'))
#for i in df_start['CityLocation']:
#    print(i)

Bangalore 49.71
New Delhi 16.63
Mumbai 13.90
Gurgaon 12.21
Chennai 2.43
Pune 2.16
Hyderabad 1.15
Noida 1.01
Ahmedabad 0.58
Jaipur 0.21

In [2]:
import numpy as np
import pandas as pd
import csv

c=pd.read_csv("startup_funding.csv")
d={}
c.CityLocation.dropna(inplace=True)
c.AmountInUSD.dropna(inplace=True)
c.CityLocation.replace("bangalore","Bangalore",inplace=True)
c.CityLocation.replace("Delhi","New Delhi",inplace=True)


#def separatecity(city):
   # return city.split("/")[0].strip()
#c.CityLocation.apply(separatecity)
c["CityLocation"] = c["CityLocation"].replace(['Delhi', 'bangalore','Pune / US','Bangalore / SFO','New Delhi / US','Bangalore/ Bangkok','Mumbai / NY','New Delhi/ Houston','Bangalore / Palo Alto','Gurgaon / SFO','Mumbai / UK','Noida / Singapore','Mumbai / Global','Pune/Seattle','Pune / Singapore','Chennai/ Singapore','Hyderabad/USA','New Delhi / California','Bangalore / USA','Bangalore / San Mateo','Pune / Dubai'],["New Delhi", 'Bangalore','Pune','Bangalore','New Delhi', 'Bangalore','Mumbai','New Delhi','Bangalore','Gurgaon','Mumbai','Noida','Mumbai','Pune','Pune','Chennai','Hyderabad','New Delhi','Bangalore','Bangalore','Pune'])

c["AmountInUSD"]=c["AmountInUSD"].str.replace(',','')

for i in c.iloc[:,4] and j in c.iloc[:,7]:
    j=float(j)
    d[i]=d.get(i,0)+j
    
    
city=[]
fund=[]
for i in d:
    city.append(i)
    fund.append(d[i])
city=np.array(city)
fund=np.array(fund)
city=city[np.argsort(fund)]
fund=np.sort(fund)
scity=city[len(city)-1:len(city)-1-10:-1]
sfund=fund[len(fund)-1:len(fund)-1-10:-1]
a=np.sum(sfund)
pfund=sfund[(sfund/a)*100]
pfund=np.round(pfund,decimals=2)
for i in range(len(scity)):
    print(scity[i],pfund[i])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().