## Steps For Project
1. First Sort the Sheet on `Country/Region` column. 
2. Create `SrNo.` Column by the formula `=SEQUENCE(2691)` (Create it on A2).  
3. First copy the BUSINESS SHEET on new sheet.

#### Formula to Merge TOURISM sheet into BUSINESS.  
`=ARRAYFORMULA(VLOOKUP(A2,IMPORTRANGE("https://docs.google.com/spreadsheets/d/1BuTWp7qHGjWhqrnf-OmePP568O4A5Am9ttzvVdP67zw/edit#gid=1603210130", "TOURISM!$A$2:$F$2692"), {2,3,4,5,6},0))`

#### Formula to Merge HUMAN RESOURCES sheet into BUSINESS.  
`=ARRAYFORMULA(VLOOKUP(A2,IMPORTRANGE("https://docs.google.com/spreadsheets/d/1BuTWp7qHGjWhqrnf-OmePP568O4A5Am9ttzvVdP67zw/edit#gid=771602874" ,"HUMAN RESOURCES!$A$2:$M$2692"), {2,3,4,5,6,7,8,9,10,11,12,13},0))`

#### Formula to Merge ENERGY sheet into BUSINESS.
`=ARRAYFORMULA(VLOOKUP(A2,IMPORTRANGE("https://docs.google.com/spreadsheets/d/1BuTWp7qHGjWhqrnf-OmePP568O4A5Am9ttzvVdP67zw/edit#gid=1931367683" ,"ENERGY!$A$2:$F$2692"), {2,3,4,5,6},0))`

#### Formula to merge GDP into BUSINESS.   
First convert the SrNo. column to integer
`Select SrNo. column, Format -> Number -> Number.`
`=ARRAYFORMULA(VLOOKUP(A2,IMPORTRANGE("https://docs.google.com/spreadsheets/d/1eH-rCeRDGFuBshqIHg0MSx2VsyfqMvcyyTNkMRLgDDk/edit#gid=181560561" ,"GDP!$A$2:$H$2692"), {2,3,4,5,6,7,8},0))`

In [1]:
import pandas as pd
#create DataFrame
df = pd.DataFrame({'team': ['A', 'A', 'B', 'B', 'B', 'B', 'B', 'B'],
'position': ['G', 'G', 'F', 'G', 'F', 'F', 'C',
'C'],
'assists': [5, 7, 7, 8, 5, 7, 6, 9],
'rebounds': [11, 8, 10, 6, 6, 9, 6, 10]})

In [4]:
import numpy as np
#define the total sample size desired
N = 4
#perform stratified random sampling
df.groupby('team', group_keys=False).apply(lambda x: x.sample(2))

  team position  assists  rebounds
0    A        G        5        11
1    A        G        7         8
5    B        F        7         9
2    B        F        7        10