In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('startupfunding.csv')

In [3]:
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [4]:
## We want to fig out max, min, avg from column AmountInUSD.But before finding max min, we first need to collect some sample 
## then apply our calculation on that.

amount = data['AmountInUSD']

In [6]:
amount.head()

## As we can see, we have NaN values in it and all the data is in the form of string.
## So we do data cleaning of it and convert it into int.

0    1,300,000
1          NaN
2          NaN
3      500,000
4      850,000
Name: AmountInUSD, dtype: object

In [7]:
## dropping nan values
amount.dropna(inplace = True)
amount.head()

0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [8]:
## removing commas
a1 = amount.str.replace(',','')
a1.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: object

In [9]:
## checking type of data

a1[0]

## it is of type int so we convert it into int.

'1300000'

In [10]:
## to convert it into int, we use pd.to_numeric(df)

a2 = pd.to_numeric(a1)
a2[0]

## as we can see, it is converted to int. changes will be reflected to a2, not a1.

1300000

In [11]:
type(a2[0])

numpy.int64

In [20]:
## Now we are ready to apply function.

pop_avg = a2.mean()
pop_min = a2.min()
pop_max = a2.max()

print(pop_avg)
print(pop_min)
print(pop_max)

## Above values are called as parameters.

12031073.099016393
16000
1400000000

In [18]:
## We have caculated avg, min and max of complete population, now we want to implement our algorithm.
## Simple random sampling.
## In order to implement it, we need to define our sample size.
## To select samples, we have function in pandas sample() (see documentation) which selects random sample.
## This function randomly selects WITHOUT REPLACEMENT. which means if one record is selected, that record will not be selected
## again.


population = a2
sample_size= 100
sample = population.sample(sample_size, random_state = 1)  ## random_state ensures that everytime we execute it, 
                                                           ## we get the same sample.

In [21]:
print(sample.shape)
print(sample.min())
print(sample.max())
print(sample.mean())

## Above values are called as statistics.

(100,)
18000
1400000000
24592930.0

In [22]:
## Value which are calculated from population is called parameters.
## Value which is calculated from sample is called statistic.
## Sampling error is defined as difference between parameter and statistic i.e. parameter - statistic.

## Our goal is to reduce sampling error and there are few ways to do it.