In [34]:
import pandas as pd
data = pd.read_csv('startupfunding.csv')

In [36]:
df = data.copy()

In [60]:
df1 = df.dropna(subset = ['CityLocation', 'AmountInUSD'])
df1['AmountInUSD'].str.replace(',', '')

0       1300000
3        500000
4        850000
5       1000000
6       2600000
         ...
2195    6000000
2196    3500000
2198     400000
2199     500000
2200    8000000
Name: AmountInUSD, Length: 1390, dtype: object

In [61]:
df1.loc[df1['CityLocation'].str.contains('bangalore', case = False), 'CityLocation'] = 'Bangalore'
df1.loc[df1['CityLocation'].str.contains('Delhi', case = False), 'CityLocation'] = 'New Delhi'

In [74]:
df2 = df1[['CityLocation', 'AmountInUSD']]
a = df2.loc[(df2['CityLocation'] == 'Bangalore') | (df2['CityLocation'] == 'New Delhi')]

b = a['AmountInUSD'].str.replace(',', '')

In [75]:
c = pd.to_numeric(b)
c

0        1300000
5        1000000
8        8500000
13       1000000
19      18500000
          ...
2180     1800000
2181      500000
2190    10000000
2196     3500000
2198      400000
Name: AmountInUSD, Length: 628, dtype: int64

In [80]:
population = c
d = c.mean()
samplesize = 50
sample = population.sample(samplesize)

avgsample = sample.mean()

In [81]:
## sampling error

samplingerror = d - avgsample
print(samplingerror)

11666073.770700637