In [1]:
import pandas as pd
data = pd.read_csv('startupfunding.csv')

In [27]:

df = data.copy()

df1 = df.dropna(subset = ['CityLocation', 'AmountInUSD'])
samplesize = 20
q = df1['AmountInUSD'].str.replace(',', '')
w = pd.to_numeric(q)
population = sum(w)

17075522608

In [4]:
df1.loc[df1['CityLocation'].str.contains('bangalore', case = False), 'CityLocation'] = 'Bangalore'
df1.loc[df1['CityLocation'].str.contains('Delhi', case = False), 'CityLocation'] = 'New Delhi'

In [28]:
ncr = df1.loc[(df1['CityLocation'] == 'New Delhi') | (df1['CityLocation'] == 'Noida') | (df1['CityLocation'] == 'Gurgaon')]
a = ncr['AmountInUSD'].str.replace(',', '')
b = pd.to_numeric(a)
ncrstrata = b.sample(samplesize, random_state = 1)
n = sum(ncrstrata)

In [29]:
mumbai = df1.loc[df1['CityLocation'] == 'Mumbai']
c = mumbai['AmountInUSD'].str.replace(',', '')
d = pd.to_numeric(c)
mumbaistrata = d.sample(samplesize, random_state = 1)
m = sum(mumbaistrata)

In [30]:
pune = df1.loc[df1['CityLocation'] == 'Pune']
e = pune['AmountInUSD'].str.replace(',', '')
f = pd.to_numeric(e)
punestrata = f.sample(samplesize, random_state = 1)
p = sum(punestrata)

In [31]:
bangalore = df1.loc[df1['CityLocation'] == 'Bangalore']
g = bangalore['AmountInUSD'].str.replace(',', '')
h = pd.to_numeric(g)
bangalorestrata = h.sample(samplesize, random_state = 1)
b = sum(bangalorestrata)

In [32]:
hyderabad = df1.loc[df1['CityLocation'] == 'Hyderabad']
i = hyderabad['AmountInUSD'].str.replace(',', '')
j = pd.to_numeric(i)
hyderabadstrata = j.sample(samplesize, random_state = 1)
h = sum(hyderabadstrata)

In [34]:
strat = p + n + m + b + h

error = population - strat
error

15718438608