In [1]:
import pandas

In [3]:
import pandas as pd
data_xls = pd.read_excel('TESTING LOGSHEET.xlsx',  dtype=str, index_col=None)
data_xls.to_csv('csvfile.csv', encoding='utf-8', index=False)

In [27]:
d = pd.read_csv('csvfile.csv')
d

   Train no    Rake no Coach\nNo.          Line Report    Shed Report  Shed
0     93002  5001-5002      5001C           APC faulty  same attended  Line
1       182  6001-6002      6003B        Water Leakage   RTV provided    VR
2        52  5541-5542      5541C  Earth fault 110V DC            NaN   NaN
3     90201  2241-2242      2241B    NSRAD not working  same attended  Line

In [22]:
dict = {}
for i in range(d.shape[0]):
    dict[d['Rake no']] = d{}

C:\Users\HASHIM RAZI\AppData\Local\Temp\ipykernel_5456\2974473992.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rake no'][i] = pd.DataFrame(columns = df.columns)

   Train no    Rake no Coach\nNo.          Line Report    Shed Report  Shed
0     93002  5001-5002      5001C           APC faulty  same attended  Line
1       182  6001-6002      6003B        Water Leakage   RTV provided    VR
2        52  5541-5542      5541C  Earth fault 110V DC            NaN   NaN
3     90201  2241-2242      2241B    NSRAD not working  same attended  Line